<div class="section section-a-new-enterprise">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="description">
                    <h4 class="header-text">A new enterprise</h4>
                    <p>Offer your users attractive online/offline desktop applications for your existing enterprise web systems, reusing your frameworks and stack.</p>
                    <p>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1 hidden-xs">
                <img class="img-responsive" src="assets/img/template/mac.png"/>
            </div>
        </div>
    </div>
</div>
