<div class="parallax" data-color="blue">
	<div class="parallax-background">
	</div>
	<div class= "container">
		<div class="row">
			<div class="col-md-5 hidden-xs vertical-align">
				<div class="parallax-image">
					<img class="phone" src="assets/img/studio.png" style="margin-top: 20px"/>
				</div>
			</div>
			<div class="col-md-6 col-md-offset-1">
				<div class="description">
					<h2>{{ page.subTitle }}</h2>
                    <br>
					<h5>{{ page.description }}</h5>
					<a href="" id="Demo3" class="btn btn-fill btn-info" data-button="info">Watch Demo</a>
				</div>
			</div>
		</div>
	</div>
</div>
