<div class="section section-demo">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="description-carousel" class="carousel fade" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item">
                            <img src="assets/img/template/examples/home_33.jpg" alt="">
                        </div>
                        <div class="item active">
                            <img src="assets/img/template/examples/home_22.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="assets/img/template/examples/home_11.jpg" alt="">
                        </div>
                    </div>
                    <ol class="carousel-indicators carousel-indicators-blue">
                        <li data-target="#description-carousel" data-slide-to="0" class=""></li>
                        <li data-target="#description-carousel" data-slide-to="1" class="active"></li>
                        <li data-target="#description-carousel" data-slide-to="2" class=""></li>
                    </ol>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <h4 class="header-text">Easy to Use</h4>
                <p>
                    Bringing the Web to the Desktop, Equo allows you to create native applications with Java and web technologies like JavaScript, HTML, and CSS. It brings the best parts of both worlds!
                </p>
                <a href="" id="Demo3" class="btn btn-fill btn-info" data-button="info">Watch Demo</a>
            </div>
        </div>
    </div>
</div>
