<div class="section section-features">
    <div class="container">
        <h4 class="header-text text-center">Features</h4>
        <div class="text-center">
            <P>Popular features that will boost up your desktop application usage</P>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="pe-7s-note2"></i>
                    </div>
                    <div class="text">
                        <h4>Java</h4>
                        <p>Use existing Java frameworks and code bases, or develop your new backend application with the Java language.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="pe-7s-note2"></i>
                    </div>
                    <div class="text">
                        <h4>Open Source</h4>
                        <p>Exploit all the benefits of the open source world.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="pe-7s-bell"></i>
                    </div>
                    <h4>Cross Platform</h4>
                    <p>Equo apps are compatible with Mac, Windows, and Linux. They run everywhere.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="pe-7s-bell"></i>
                    </div>
                    <h4>Smart Notifications on hands</h4>
                    <p>Automatic text and email reminders make sure customers always remember their upcoming appointments.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="pe-7s-graph1"></i>
                    </div>
                    <h4>Know your business better now</h4>
                    <p>Monitor how your application is being used and see how all adds up with analytics.</p>
                </div>
            </div>
        </div>
    </div>
</div>
