<div class="section section-features">
    <div class="container">
        <h4 class="header-text text-center">Features</h4>
        <div class="text-center">
            <P>Popular features that will boost up your desktop application usage</P>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="pe-7s-note2"></i>
                    </div>
                    <div class="text">
                        <h4>Java</h4>
                        <p>Use existing Java frameworks and code bases, or develop your new backend application with the Java language.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="pe-7s-note2"></i>
                    </div>
                    <div class="text">
                        <h4>Open Source</h4>
                        <p>Exploit all the benefits of the open source world.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="pe-7s-bell"></i>
                    </div>
                    <h4>Cross Platform</h4>
                    <p>Equo apps are compatible with Mac, Windows, and Linux. They run everywhere.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="pe-7s-graph1"></i>
                    </div>
                    <h4>Know your business better now</h4>
                    <p>Monitor how your application is being used and see how all adds up with analytics.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="pe-7s-graph1"></i>
                    </div>
                    <h4>Error Reporting</h4>
                    <p>Automatic error reporting and full integration with the different issue trackers (i.e. Jira, Pivotal, Github or Gitlab).</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="pe-7s-graph1"></i>
                    </div>
                    <h4>CI/CD</h4>
                    <p>You no longer have to worry about your pipelines. Continuous Integration and Continuous Deployment can be correctly reached without efforts.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="pe-7s-graph1"></i>
                    </div>
                    <h4>Parallel UI Test Runners</h4>
                    <p>Speed up your Automated UI Testing with Parallel Test Execution. With our runners your tests will run in the blink of an eye.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="pe-7s-graph1"></i>
                    </div>
                    <h4>Automatic Updates</h4>
                    <p>Give your users the chance to update your app automatically, without having to download or reinstall it again.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="pe-7s-graph1"></i>
                    </div>
                    <h4>Installers</h4>
                    <p>Generate installers for the different platforms/Operating systems easily, with just clicking a button, and without any setup or configuration.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="pe-7s-graph1"></i>
                    </div>
                    <h4>Release Repositories</h4>
                    <p>Release repositories for your binaries out of the box.</p>
                </div>
            </div>
        </div>
    </div>
</div>
