<div class="section section-features">
    <div class="container">
        <h4 class="header-text text-center">Features</h4>
        <div class="text-center">
            <P>Popular features that will boost up your desktop application usage</P>
        </div>
        <div class="row">
            {% for feature in site.categories.features reversed %}
            <div class="col-md-4">
                <div class="card card-blue">
                    <div class={{ feature.icon-class }}>
                        <i class={{ feature.icon }}></i>
                    </div>
                    <div class="text">
                        <h4>{{ feature.title }}</h4>
                        <p>{{ feature.content }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
