<header class="site-header fixed-top">
  <div class="container">

    <a class="site-header-logo no-underline-hover" href="/">
      Equo
    </a>

    <nav class="site-header-nav">
      <a class="site-header-nav-item " href="/products/">Products</a>
      <a class="site-header-nav-item " href="/developers/">Developers</a>
      <a class="site-header-nav-item " href="/apps/">Resources</a>
      <a class="site-header-nav-item " href="/community/">Community</a>
      <a class="site-header-nav-item " href="/blog/">Plans</a>
      <a class="site-header-nav-item " href="/contact/">Contact</a>
      <a class="site-header-nav-item " href="http://www.dev.appcenter.maketechnology.io/login">Sign in</a>
      <a class="site-header-nav-item " href="http://www.dev.appcenter.maketechnology.io/login">Sign up</a>
      <a class="site-header-nav-item" href="https://github.com/electron/electron" title="Github Repository"><span class="mega-octicon octicon-mark-github vertical-middle"></span></a>
    </nav>
  </div>
</header>
