<div class="section section-presentation">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="assets/img/template/mac.png"/>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <div class="description">
                    <h4 class="header-text">Your own Integrated Development Environment</h4>
                    <p>Develop the IDE or the editor for your own language, using all the capabilities that Eclipse provides for text and visual based editors, but using the power and the appealing UIs that new frontend web technologies have.</p>
                </div>
            </div>
        </div>
    </div>
</div>
