<div class="section section-presentation">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="description">
                    <h4 class="header-text">It's different</h4>
                    <p>You don't have to recode your existing Java application to get a modern web-like one running in the Desktop. Not anymore. Equo not only provides the ability to create modern desktop applications from scrach, but it also allows you to migrate your old style application easily. It takes care of your code base, reusing it, so you can focus on the thing that matters, the UI.</p>
                    <p>It doesn't matter whether your app is web based or desktop based, a migration is straightforward with Equo.
                    <p>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1 hidden-xs">
                <img src="assets/img/template/mac.png"/>
            </div>
        </div>
    </div>
</div>
