<div class="section section-source-of-truth">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="description">
                    <h4 class="header-text">Only one source of truth</h4>
                    <p>Let’s be clear: Equo targets applications that should run as native desktop applications.</p>
                    <p>Then you would build a desktop application from scrach or migrate an existing one. But you can also have both scenarios, the web application and the desktop one. The great thing is that both context will share the same backend.</p>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1 hidden-xs">
                <img src="assets/img/template/mac.png"/>
            </div>
        </div>
    </div>
</div>
