<div class="section section-testimonial">
    <div class="container">
        <h4 class="header-text text-center">What people think</h4>
        <div id="carousel-example-generic" class="carousel fade" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item">
                    <div class="mask">
                        <img src="assets/img/faces/face-4.jpg">
                    </div>
                    <div class="carousel-testimonial-caption">
                        <p>Juan Lopez, Director</p>
                        <h3>"I love Make Technology products! It's amazing and looks great!"</h3>
                    </div>
                </div>
                <div class="item active">
                    <div class="mask">
                        <img src="assets/img/faces/face-3.jpg">
                    </div>
                    <div class="carousel-testimonial-caption">
                        <p>Messi, Soccer Player</p>
                        <h3>"The most amazing application I've ever seen!!"</h3>
                    </div>
                </div>
                <div class="item">
                    <div class="mask">
                        <img src="assets/img/faces/face-2.jpg">
                    </div>
                    <div class="carousel-testimonial-caption">
                        <p>Chris, Journalyst</p>
                        <h3>"Just chose the other day. Awesome job."</h3>
                    </div>
                </div>
            </div>
            <ol class="carousel-indicators carousel-indicators-blue">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
        </div>
    </div>
</div>
